.back{
  background-color: #F5F7FA;
  color: #333333;
}

.input-task-color{
  border-color: #29B6F6;
}

.input-task-color:checked {
  background-color: #29B6F6;
  border-color: #29B6F6;
}

.input-bigtask-color{
  border-color: #FF9800;
}

.input-bigtask-color:checked {
  background-color: #FF9800;
  border-color: #FF9800;
}

.input-task {
  border: solid 1px;
  border-radius: 4px;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.input-task::after {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0);
  font-size: 18px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.input-task:checked::after {
  animation: makedone 1s ease forwards;
}

.expanse{
  animation: expanse 1s ease-in-out;
}

.delete {
  overflow: hidden;
  animation: del 1s ease, reduce 1s ease forwards;
  animation-delay: 0s, 1s;
}

.showup {
  overflow: hidden;
  animation: reduce 1s ease reverse forwards, del 1s ease reverse forwards;
  animation-delay: 0s, 1s;
}



@keyframes expanse {
  0%{padding: 20px;}
  50%{padding: 25px;}
  100%{padding: 20px;}
}

@keyframes makedone {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%) scale(0.2);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1);
  }
}

@keyframes del {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes reduce {
  0%{
    max-height: 100px;
    opacity: 0;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
  100% {
    opacity: 0;
    max-height: 0px;
    margin: 0;
    padding: 0;
  }
}
